<!DOCTYPE html>
<html>
<title>COVID-19 Forecasting Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="recent-news-boxes.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}
h2 {
font-size: 42px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../static/covid19.jpg');
  min-height: 100%;
}

{#
/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../static/covidbanner.png");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/w3images/parallax3.jpg");
  min-height: 400px;
}
#}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button"><i class="fa fa-home"></i>HOME</a>
    <a href="#news" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-newspaper-o"></i> HEADLINES</a>
    <a href="#map" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-globe"></i> GLOBAL CASES MAP</a>
    <a href="#forecast" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-line-chart"></i> FORECAST</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-animate-opacity w3-text-white" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <h1 class="w3-jumbo w3-animate-top">COVID-19 Forecasting Dashboard</h1>
  </div>
</div>

<script>
jQuery.extend({
    getValues: function(url) {
        var result = null;
        $.ajax({
            url: url,
            type: 'get',
            dataType: 'text',
            async: false,
            success: function(data) {
                result = JSON.parse(data);
            }
        });
       return result;
    }
});
</script>

<!-- Container (News Headlines Section) -->
<section class="recentNews">
<div class="w3-content w3-container w3-padding-64" id="news">
  <h2 class="w3-center w3-text-deep-purple">News Headlines</h2>
    <a href = "https://newsapi.org">Powered by News API</a>
    <div class="row">
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage1"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate1">
            </div>
            <h3 id="newstitle1" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage2"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate2">
            </div>
            <h3 id="newstitle2" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage3"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate3">
            </div>
            <h3 id="newstitle3" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage4"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate4">
            </div>
            <h3 id="newstitle4" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage5"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate5">
            </div>
            <h3 id="newstitle5" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a id="urlImage6"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date" id="newsdate6">
            </div>
            <h3 id="newstitle6" class="ct-blog-header">
                No more headlines
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
    <script>
        var newsdata = $.getValues("news.txt");
        $("#newstitle1").html(newsdata[0]['title']);
        $("#urlImage1").html('<img src="' + newsdata[0]['urlToImage']+'" />');
        url1string = new String(newsdata[0]['url'])
        document.getElementById("urlImage1").setAttribute("href",url1string);
        const monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
        ];
        datestr1= new Date(newsdata[0]['publishedAt'].split('T')[0]);
        month1 = monthNames[(datestr1).getMonth()];
        date1 = datestr1.getDate();
        $("#newsdate1").html('<span>'+month1+'</span><strong>'+date1+'</strong>');

        if(newsdata.length > 1){
            $("#newstitle2").html(newsdata[1]['title']);
            $("#urlImage2").html('<img src="' + newsdata[1]['urlToImage'] + '" />');
            url2string = new String(newsdata[1]['url'])
            document.getElementById("urlImage2").setAttribute("href", url2string);
            datestr2 = new Date(newsdata[1]['publishedAt'].split('T')[0]);
            month2 = monthNames[(datestr2).getMonth()];
            date2 = datestr2.getDate();
            $("#newsdate2").html('<span>' + month2 + '</span><strong>' + date2 + '</strong>');
        }
        if(newsdata.length > 2) {
            $("#newstitle3").html(newsdata[2]['title']);
            $("#urlImage3").html('<img src="' + newsdata[2]['urlToImage'] + '" />');
            url3string = new String(newsdata[2]['url'])
            document.getElementById("urlImage3").setAttribute("href", url3string);
            datestr3 = new Date(newsdata[2]['publishedAt'].split('T')[0]);
            month3 = monthNames[(datestr3).getMonth()];
            date3 = datestr3.getDate();
            $("#newsdate3").html('<span>' + month3 + '</span><strong>' + date3 + '</strong>');
        }
        if(newsdata.length > 3) {
            $("#newstitle4").html(newsdata[3]['title']);
            $("#urlImage4").html('<img src="' + newsdata[3]['urlToImage'] + '" />');
            url4string = new String(newsdata[3]['url'])
            document.getElementById("urlImage4").setAttribute("href", url4string);
            datestr4 = new Date(newsdata[3]['publishedAt'].split('T')[0]);
            month4 = monthNames[(datestr4).getMonth()];
            date4 = datestr4.getDate();
            $("#newsdate4").html('<span>' + month4 + '</span><strong>' + date4 + '</strong>');
        }

        if(newsdata.length > 4) {
            $("#newstitle5").html(newsdata[4]['title']);
            $("#urlImage5").html('<img src="' + newsdata[4]['urlToImage'] + '" />');
            url5string = new String(newsdata[4]['url'])
            document.getElementById("urlImage5").setAttribute("href", url5string);
            datestr5 = new Date(newsdata[4]['publishedAt'].split('T')[0]);
            month5 = monthNames[(datestr5).getMonth()];
            date5 = datestr5.getDate();
            $("#newsdate5").html('<span>' + month5 + '</span><strong>' + date5 + '</strong>');
        }

        if(newsdata.length > 5) {
            $("#newstitle6").html(newsdata[5]['title']);
            $("#urlImage6").html('<img src="' + newsdata[5]['urlToImage'] + '" />');
            url6string = new String(newsdata[5]['url'])
            document.getElementById("urlImage6").setAttribute("href", url6string);
            datestr6 = new Date(newsdata[5]['publishedAt'].split('T')[0]);
            month6 = monthNames[(datestr6).getMonth()];
            date6 = datestr6.getDate();
            $("#newsdate6").html('<span>' + month6 + '</span><strong>' + date6 + '</strong>');
        }

    </script>
</section>

<!-- Container (Global Map Section) -->
<div class="w3-content w3-container w3-padding-32" id="map">
  <h2 class="w3-center w3-text-deep-purple">COVID-19 Global Summary</h2>
    <h3 class="w3-center">PLACE HOLDER FOR GLOBAL MAPS VIZ(S)</h3>


<!-- Container (Forecasting Section) -->
<div class="w3-content w3-container w3-padding-32" id="forecast">
  <h2 class="w3-center w3-text-deep-purple">Trends and Forecasts</h2>
    <h3 class="w3-center">PLACE HOLDER FOR TREND + FORECAST PLOTS</h3>

</div>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}
</script>

</body>
</html>
